<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>TP_GIMNASIO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>servlet.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern></url-pattern>
    <url-pattern>/usuarios/editar</url-pattern>
    <url-pattern>/usuarios/editarUsuario</url-pattern>
    <url-pattern>/usuarios/nuevo</url-pattern>
    <url-pattern>/usuarios/nuevoUsuario</url-pattern>
    <url-pattern>/usuarios/listar</url-pattern>
    <url-pattern>/usuarios/listarUsuarios</url-pattern>
    <url-pattern>/usuarios/listarProfesores</url-pattern>
    <url-pattern>/usuarios/listarClientes</url-pattern>
    <url-pattern>/usuarios/listarAdministrativos</url-pattern>
    <url-pattern>/usuarios/eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActividadServlet</display-name>
    <servlet-name>ActividadServlet</servlet-name>
    <servlet-class>servlet.ActividadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActividadServlet</servlet-name>
    <url-pattern>/ActividadServlet</url-pattern>
    <url-pattern>/actividades/editar</url-pattern>
    <url-pattern>/actividades/editarActividad</url-pattern>
    <url-pattern>/actividades/nuevo</url-pattern>
    <url-pattern>/actividades/nuevoActividad</url-pattern>
    <url-pattern>/actividades/listar</url-pattern>
    <url-pattern>/actividades/eliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HAServlet</display-name>
    <servlet-name>HAServlet</servlet-name>
    <servlet-class>servlet.HAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HAServlet</servlet-name>
    <url-pattern>/HAServlet</url-pattern>
    <url-pattern>/ha/editar</url-pattern>
    <url-pattern>/ha/editarHA</url-pattern>
    <url-pattern>/ha/nuevo</url-pattern>
    <url-pattern>/ha/nuevoHA</url-pattern>
    <url-pattern>/ha/listar</url-pattern>
    <url-pattern>/ha/eliminar</url-pattern>
    <url-pattern>/ha/listarPorActividad</url-pattern>
    <url-pattern>/ha/listarPorProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HAClienteServlet</display-name>
    <servlet-name>HAClienteServlet</servlet-name>
    <servlet-class>servlet.HAClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HAClienteServlet</servlet-name>
    <url-pattern>/HAClienteServlet</url-pattern>
    <url-pattern>/ha_clientes/editar</url-pattern>
    <url-pattern>/ha_clientes/editarHAC</url-pattern>
    <url-pattern>/ha_clientes/nuevo</url-pattern>
    <url-pattern>/ha_clientes/nuevoHAC</url-pattern>
    <url-pattern>/ha_clientes/listar</url-pattern>
    <url-pattern>/ha_clientes/eliminar</url-pattern>
    <url-pattern>/ha_clientes/darDeBaja</url-pattern>
    <url-pattern>/ha_clientes/listarPorCliente</url-pattern>
    <url-pattern>/ha_clientes/listarPorActividad</url-pattern>
    <url-pattern>/ha_clientes/HAdeActividad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuotaServlet</display-name>
    <servlet-name>CuotaServlet</servlet-name>
    <servlet-class>servlet.CuotaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuotaServlet</servlet-name>
    <url-pattern>/CuotaServlet</url-pattern>
    <url-pattern>/cuotas/listar</url-pattern>
    <url-pattern>/cuotas/editar</url-pattern>
    <url-pattern>/cuotas/editarCuota</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
    <description></description>
    <display-name>CuotaClienteServlet</display-name>
    <servlet-name>CuotaClienteServlet</servlet-name>
    <servlet-class>servlet.CuotaClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuotaClienteServlet</servlet-name>
    <url-pattern>/CuotaClienteServlet</url-pattern>
    <url-pattern>/cuotas_clientes/listar</url-pattern>
    <url-pattern>/cuotas_clientes/listarPorCliente</url-pattern>
    <url-pattern>/cuotas_clientes/listarPorCuota</url-pattern>
  </servlet-mapping>
</web-app>